:root{
  --welcome-im-width:450px;
}

.welcome-page .section.main {
  position: relative;
}

.welcome-page .splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.welcome-page .splash-container > img {
  width:var(--welcome-im-width);
}

.welcome-page .projects {
  background-color: rgba(75, 7, 3, 0.55);
}
.welcome-page .tables {
  background-color: rgba(8, 13, 150, 0.55);
}

.welcome-page .welcome-carousel {
  z-index: 2000;
  height: var(--welcome-im-width);
  position: absolute;
  top: 15px;

}
.welcome-page .welcome-carousel  .item {
  width: var(--welcome-im-width);
  margin: auto;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.welcome-page .welcome-carousel  .item > h1 {
  background-color: rgba(0, 0, 0, 0.55);
}


