.configuration-page #import .padding {
  padding-top: 50px;

}

.configuration-page #export > .main .full-width {
  width: 100%;
  margin-top: 50px;
}

.configuration-page #conf .services-filtre .list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
}

.configuration-page #conf .buttons{
  margin-top: 1.5rem;
}
