.administration-page
  margin-top 2em
  .buttons
    margin-top 2em
    display flex
    justify-content flex-end
    align-items center
    .button
      margin-left 1em
      margin-right 1em
  .row
    &.mysql-buttons
      margin-top 1.5em
      div
        margin-left .5em
        margin-right .5em
  .mysql-field
    &:not(:first-child)
      margin-top 1em

