.apis-page
  .inputs
    display flex
    justify-content space-between
    align-items center
    margin-bottom 10px
    > div
      padding-right 20px
    &:last-child
      padding-right 0
    .q-field
      flex 5
      margin 0
  .inputs-panel
    overflow hidden
    background #eeeeee
    padding 15px
    > div
      flex 1
      margin 0 10px
  .q-card-separator
    margin-bottom 15px
  .caption
    font-weight bold
  .awaiting
    margin 1em auto
    width 100%
    display flex
    justify-content center
  .card-container
    display flex
    justify-content space-around
    align-items flex-start
    flex-flow row wrap
    align-content space-between
    width 100%
    .apis-card
      width 35vw
  .list-apis-table
    .q-item-label
      word-break break-all
      padding 5px
    .q-item-sublabel
      word-break break-all
      padding 5px

