.error-page
  width 100% !important
  .error-code
    background url("../assets/sinestros-mass-recruitment-for-the-sinestro-corps-2.jpg") no-repeat !important
    background-size cover !important
    height 55vh
    width 100%
    @media (orientation: landscape) {
      font-size 30vw
    }
    @media (orientation: portrait) {
      font-size 30vh
    }
    color rgba(255, 255, 255, .6)
    overflow hidden
  .error-card
    border-radius 2px
    margin-top -50px
    width 80vw
    max-width 600px
    padding 25px
    > i
      font-size 5rem
