@import "../../themes/app.variables"

// Status
.button-mysql
  padding-top 1.14rem

.clear-postion
  position absolute
  top 15px
  right 23px

// Console block
.console
  color #C0C0C0
  font-weight bold
  width 100%
  min-height 300px
  margin 0
  padding 15px
  background-color #343434
  border 1px solid #CABFA6
  border-radius 5px
  pre
    position relative
    font-size 14px
    padding-left 30px
    padding-bottom 5px
    display block
    overflow hidden
    margin 0
    &:nth-child(1)
      margin-top 25px
    &.breakline
      padding-bottom 12px
