#detail-project-page .bloc-time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#detail-project-page .bloc-time > img.state {
  margin-right: 2em;
  width: 2em;
  height: 2em;
}

#detail-project-page .collapsible-header span.badge-number {
  font-weight: 300;
  font-size: 1rem;
  background-color: #26a69a;
  border-radius: 2px;
  min-width: 3rem;
  padding: 0 6px;
  margin-left: 14px;
  text-align: center;
  color: white;

  line-height: 22px;
  height: 22px;
  box-sizing: border-box;
}
