:root{
  --api-max-comment-width:200px;
}

.apis-page .card-container {
  padding: .5em;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

}

.apis-page .card-container .card {
  padding: 5px;
  margin: 2px;
}

.apis-page .card-container .card .card-title.with-icon {
  display: flex;
  align-items: center;
  padding: 5px;
}

.apis-page .card-container .card .card-title.with-icon .name {
  flex-grow: 2;
  word-break: break-all;
}

.apis-page .card-container .card ul.query-params li{
  list-style-type: circle;

}

.apis-page method-icon .icon {
  width: 85px;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}


.api-url{
  word-break: break-all;

}

.api-comment {
  max-width: var(--api-max-comment-width);
  min-width: var(--api-max-comment-width);
  width:var(--api-max-comment-width);
}

