.apis-page .card-container {
  padding: .5em;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

}

.apis-page .card-container .card {
  padding: 10px;
  margin: 2px;
}

.apis-page .card-container .card .card-title.with-icon {
  display: flex;
  align-items: center;
  padding: 5px;
}

.apis-page .card-container .card .card-title.with-icon  .name{
  flex-grow: 2;
}

.apis-page .card-container .card .card-title.with-icon  .icon{
  /*width: 40px;*/
  /*max-width: 40px;*/
  flex-grow: 1;
}

