body{
  background-color: #f5f5f5;
}

.material-icons-button {
  width: 100%;
  font-size: 1.3rem;
}

.material-icons-button > span {
  line-height: 100%;
  vertical-align: text-top;
}

ul.browser-default {
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
}
ul.browser-default li {
  list-style-type: initial;
}

markdown {
  font-size: 15px;
}

markdown h1 {
  font-size: 3rem;
}

markdown h2 {
  font-size: 2.3rem;
}

markdown ul {
  display: block;
  list-style-type: disc;

}

markdown ul:not(.browser-default) li {
  list-style-type: disc;
  margin-left: 1em;
}

markdown h3,
.modal markdown h3 {
  margin-top: 5px;
  font-size: 1.8rem;
}
